<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.DeliverMapper">
    <update id="updateStatusFromBatch">
        update deliver
        set  state = #{status}
        where id in
        <foreach collection="ids" item="c" separator="," open="(" close=")">
            #{c}
        </foreach>
    </update>

    <select id="orderList" resultType="com.xiliulou.afterserver.web.query.DeliverQuery">
        select
        d.id,
        d.customer_id,
        d.phone,
        d.city,
        d.destination,
        d.state,
        d.third_company_id,
        d.third_company_pay,
        d.deliver_cost,
        d.deliver_time,
        d.express_company,
        d.express_no,
        d.create_uid,
        d.remark,
        d.product,
        d.quantity,
        d.third_company_type,
        d.no
        from
        deliver AS d
        <where>
            <if test="city != null and city != ''">
                and d.city LIKE CONCAT('%',#{city},'%')
            </if>
            <if test="destination != null and destination != ''">
                and d.destination LIKE CONCAT('%',#{destination},'%')
            </if>
            <if test="expressCompany != null and expressCompany != ''">
                and d.express_company LIKE CONCAT('%',#{express_company},'%')
            </if>
            <if test="expressNo != null and expressNo != ''">
                and d.express_no LIKE CONCAT('%',#{expressNo},'%')
            </if>
            <if test="createTimeStart != null and createTimeEnd != null ">
                and d.deliver_time BETWEEN #{createTimeStart} and #{createTimeEnd}
            </if>
            <if test="createUid != null and createUid != ''">
                and d.create_uid = #{createUid}
            </if>
            <if test="state != null and state != ''">
                and d.state = #{state}
            </if>
        </where>
    </select>


    <select id="getDeliverPage" resultType="com.xiliulou.afterserver.web.vo.DeliverVo">
        SELECT
        d.id,
        d.customer_id,
        d.phone,
        d.city,
        d.province,
        d.destination,
        d.remark,
        d.deliver_cost,
        d.deliver_time,
        d.create_time,
        d.express_company,
        d.express_no,
        d.point_id,
        d.product,
        d.quantity,
        d.state,
        c.name as customer_name,
        p.name as point_name
        FROM
        deliver AS d
        LEFT JOIN customer AS c ON d.customer_id = c.id
        LEFT JOIN point AS p ON p.id = d.point_id


        <where>
            <if test="query.city != null and query.city != ''">
                and d.city = #{query.city}
            </if>
            <if test="query.customerId != null ">
                and d.customer_id = #{query.customerId}
            </if>
            <if test="query.pointId != null ">
                and d.point_id = #{query.pointId}
            </if>
            <if test="query.expressCompany != null and query.expressCompany != ''">
                and d.express_company = #{query.expressCompany}
            </if>
            <if test="query.expressNo != null and query.expressNo != ''">
                and d.express_no LIKE CONCAT('%',#{query.expressNo},'%')
            </if>
            <if test="query.deliverTimeStart != null and query.deliverTimeEnd != null ">
                and d.deliver_time BETWEEN #{query.deliverTimeStart} and #{query.deliverTimeEnd}
            </if>

        </where>

        ORDER BY d.create_time DESC
    </select>
</mapper>