<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.ExportMaterialConfigMapper">
    
    <resultMap type="com.xiliulou.afterserver.entity.ExportMaterialConfig" id="ExportMaterialConfigMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="materialId" column="material_id" jdbcType="INTEGER"/>
        <result property="pn" column="pn" jdbcType="VARCHAR"/>
        <result property="materialAlias" column="material_alias" jdbcType="VARCHAR"/>
        <result property="materialAssociation" column="association_status" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="supplierId" column="supplier_id" jdbcType="INTEGER"/>
        <result property="stencilIds" column="stencil_ids" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>
    
    <!--查询单个-->
    <select id="selectById" resultMap="ExportMaterialConfigMap">
        select id,material_id,
               pn,
               material_alias,
               association_status,
               sort,
               supplier_id,
               stencil_ids
        from t_export_material_config
        where id = #{id}
    </select>
    
    <select id="selectByPn" resultType="com.xiliulou.afterserver.entity.ExportMaterialConfig">
        select id,material_id,
               pn,
               material_alias,
               association_status,
               sort,
               supplier_id,
               stencil_ids
        from t_export_material_config
        where pn = #{pn}
    </select>
    <!--查询指定行数据-->
    <select id="selectPage" resultMap="ExportMaterialConfigMap">
        select
        temc.id,temc.material_id, temc.pn, temc.material_alias, temc.association_status, temc.sort, temc.supplier_id,tp.name,
        temc.stencil_ids
        from t_export_material_config temc
        left join t_parts tp on tp.sn = temc.pn
        <where>
            <if test="entity.id != null">
                and temc.id = #{entity.id}
            </if>
            <if test="entity.pn != null and entity.pn != ''">
                and temc.pn = #{entity.pn}
            </if>
            <if test="entity.materialAlias != null and entity.materialAlias != ''">
                and temc.material_alias = #{entity.materialAlias}
            </if>
            <if test="entity.materialAssociation != null and entity.materialAssociation != ''">
                and temc.association_status = #{entity.materialAssociation}
            </if>
            <if test="entity.sort != null">
                and temc.sort = #{entity.sort}
            </if>
            <if test="entity.supplierId != null">
                and temc.supplier_id = #{entity.supplierId}
            </if>
        </where>
        limit #{offset}, #{size}
    </select>
    
    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_export_material_config
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="pn != null and pn != ''">
                and pn = #{pn}
            </if>
            <if test="materialAlias != null and materialAlias != ''">
                and material_alias = #{materialAlias}
            </if>
            <if test="materialAssociation != null and materialAssociation != ''">
                and association_status = #{materialAssociation}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="supplierId != null">
                and supplier_id = #{supplierId}
            </if>
        </where>
    </select>
    
    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_export_material_config(material_id, pn, material_alias, association_status, sort, supplier_id,stencil_ids)
        values (#{materialId}, #{pn}, #{materialAlias}, #{materialAssociation}, #{sort}, #{supplierId},#{stencilIds})
    </insert>
    
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_export_material_config(material_id,pn, material_alias, association_status, sort, supplier_id,stencil_ids)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.materialId},#{entity.pn}, #{entity.materialAlias}, #{entity.materialAssociation}, #{entity.sort}, #{entity.supplierId},#{entity.stencilIds})
        </foreach>
    </insert>
    
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_export_material_config(material_id,pn, material_alias, association_status, sort, supplier_id,stencil_ids)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.materialId},#{entity.pn}, #{entity.materialAlias}, #{entity.materialAssociation}, #{entity.sort}, #{entity.supplierId},#{entity.stencilIds})
        </foreach>
        on duplicate key update
        pn = values(pn),
        material_alias = values(material_alias),
        association_status = values(association_status),
        sort = values(sort),
        supplier_id = values(supplier_id)
    </insert>
    
    <!--通过主键修改数据-->
    <update id="update">
        update t_export_material_config
        <set>
            <if test="materialId != null">
                material_id = #{materialId},
            </if>
            <if test="pn != null and pn != ''">
                pn = #{pn},
            </if>
            <if test="materialAlias != null and materialAlias != ''">
                material_alias = #{materialAlias},
            </if>
            <if test="materialAssociation != null and materialAssociation != ''">
                association_status = #{materialAssociation},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="supplierId != null">
                supplier_id = #{supplierId},
            </if>
            <if test="stencilIds != null">
                stencil_ids = #{stencilIds},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <!--逻辑删除数据-->
    <update id="removeById">
        update t_export_material_config
        <set>
            <if test="materialId != null">
                material_id = #{materialId},
            </if>
            <if test="pn != null and pn != ''">
                pn = #{pn},
            </if>
            <if test="materialAlias != null and materialAlias != ''">
                material_alias = #{materialAlias},
            </if>
            <if test="materialAssociation != null">
                association_status = #{materialAssociation},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="supplierId != null">
                supplier_id = #{supplierId},
            </if>
            <if test="stencilIds != null">
                stencil_ids = #{stencilIds},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByMaterialId">
        update t_export_material_config
        <set>
            <if test="materialId != null">
                material_id = #{materialId},
            </if>
            <if test="pn != null and pn != ''">
                pn = #{pn},
            </if>
            <if test="materialAlias != null">
                material_alias = #{materialAlias},
            </if>
            <if test="materialAssociation != null">
                association_status = #{materialAssociation},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="supplierId != null">
                supplier_id = #{supplierId},
            </if>
            <if test="stencilIds != null">
                stencil_ids = #{stencilIds},
            </if>
        </set>
        where material_id = #{materialId}
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from t_export_material_config
        where id = #{id}
    </delete>
    
    <!--批量删除数据-->
    <delete id="deleteAll">
        delete
        from t_export_material_config
    </delete>

</mapper>
