<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.FileMapper">

    <insert id="saveBatchFile">
        INSERT INTO file(type, file_name, create_time, bind_id) VALUES
        <foreach collection ="files" item="file" separator =",">
            ( #{type}, #{fileName},  #{createTime}, #{bindId})
        </foreach >
    </insert>
</mapper>