<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiliulou.afterserver.mapper.IotCardMapper">

    <resultMap id="getPageMap" type="com.xiliulou.afterserver.entity.IotCard">

    </resultMap>

    <select id="getPage" resultMap="getPageMap">
        select id,batch_id, supplier_id, operator, activation_time, packages, term_of_alidity, expiration_time, create_time, update_time, del_flag
        from t_iot_card

    </select>
    
    <insert id="saveOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_iot_card(batch_id, supplier_id, operator, activation_time, packages, term_of_alidity, expiration_time, create_time, update_time, del_flag)
        values(#{batchId}, #{supplierId}, #{operator}, #{activationTime}, #{packages}, #{termOfAlidity}, #{expirationTime}, #{createTime}, #{updateTime}, #{delFlag})
    </insert>

    <update id="updateOne">
        update t_iot_card
        <set>
            <if test="batchId != null">
                batch_id = #{batchId},
            </if>
            <if test="supplierId != null">
                batch_id = #{supplierId},
            </if>
            <if test="operator != null">
                operator = #{operator},
            </if>
            <if test="activationTime != null">
                activation_time = #{activationTime},
            </if>
            <if test="packages != null and packages != ''">
                packages = #{packages},
            </if>
            <if test="termOfAlidity != null">
                term_of_alidity = #{termOfAlidity},
            </if>
            <if test="expirationTime != null">
                expiration_time = #{expirationTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>