<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.MaterialTraceabilityMapper">
    
    <!--统计总行数-->
    <resultMap id="MaterialTraceabilityMap" type="com.xiliulou.afterserver.entity.Material">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="material_sn" jdbcType="VARCHAR" property="materialSn"/>
        <result column="product_no" jdbcType="VARCHAR" property="productNo"/>
        <result column="material_id" jdbcType="INTEGER" property="materialId"/>
        <result column="imei" jdbcType="VARCHAR" property="imei"/>
        <result column="atmel_id" jdbcType="VARCHAR" property="atmelID"/>
        <result column="test_time" jdbcType="VARCHAR" property="testTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="material_batch_no" jdbcType="VARCHAR" property="materialBatchNo"/>
        <result column="material_state" jdbcType="INTEGER" property="materialState"/>
        
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="binding_status" jdbcType="INTEGER" property="bindingStatus"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
        <result column="tenant_id" jdbcType="INTEGER" property="tenantId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
    </resultMap>
    
    <delete id="deleteById">
        delete
        from t_material
        where id = #{id}
    </delete>
    <delete id="deleteByIds">
        delete
        from t_material
        where id in
        <foreach collection="id" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    
    <!--查询单个 根据主键 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_material(material_sn, product_no, material_id, del_flag, binding_status, create_time, update_time, tenant_id,
                               imei, atmel_id, test_time, remark, material_batch_no, material_state)
        values (#{materialSn}, #{productNo},#{materialId}, #{delFlag}, #{bindingStatus}, #{createTime}, #{updateTime}, #{tenantId},
                #{imei}, #{atmelID}, #{testTime}, #{remark}, #{materialBatchNo}, #{materialState})
    </insert>
    
    <!--查询指定行数据-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_material(material_sn, material_id, del_flag, binding_status, create_time, update_time, tenant_id,
        imei, atmel_id, test_time, material_batch_no)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.materialSn},#{entity.materialId}, #{entity.delFlag},#{entity.bindingStatus},#{entity.createTime},#{entity.updateTime},#{entity.tenantId},
            #{entity.imei},#{entity.atmelID},#{entity.testTime},#{entity.materialBatchNo})
        </foreach>
    </insert>
    
    <!-- 根据参数查询 -->
    <select id="selectById" resultMap="MaterialTraceabilityMap">
        select tm.id,
               material_sn,
               product_no,
               material_id,
               tm.del_flag,
               binding_status,
               tm.create_time,
               tm.update_time,
               tenant_id,
               imei,
               atmel_id,
               test_time,
               remark,
               material_batch_no,
               material_state,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        where tm.id = #{id}
    </select>
    <select id="selectListByLimit" resultMap="MaterialTraceabilityMap">
        select
        tm.id,material_sn,product_no,tm.del_flag,binding_status,tm.create_time,tm.update_time,tm.tenant_id,
        imei,atmel_id,test_time,remark,material_batch_no,material_state,material_id,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        <where>
            tm.del_flag  = 0
            <if test="query.id != null">
                and tm.id = #{query.id}
            </if>
            <if test="query.materialSn != null and query.materialSn != ''">
                and material_sn like concat('%',#{query.materialSn},'%')
            </if>
            <if test="query.productNo != null and query.productNo != ''">
                and product_no like concat('%',#{query.productNo},'%')
            </if>
            <if test="query.sn != null and query.sn != ''">
                and tp.sn = #{query.sn}
            </if>
            <if test="query.name != null and query.name != ''">
                and tp.name like concat('%',#{query.name},'%')
            </if>
            <if test="query.imei != null and query.imei != ''">
                and tmb.material_batch_no like concat('%',#{query.imei},'%')
            </if>
            <if test="query.materialBatchNo != null and query.materialBatchNo != ''">
                and material_batch_no like concat('%',#{query.materialBatchNo},'%')
            </if>
            <if test="query.materialState != null">
                and material_state = #{query.materialState}
            </if>
            <if test="query.materialId != null">
                and tm.material_id = #{query.materialId}
            </if>
            <if test="query.bindingStatus != null">
                and binding_status = #{query.bindingStatus}
            </if>
            <if test="query.startTime != null">
                and tm.create_time &gt;= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                and tm.create_time &lt;= #{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and tm.tenant_id = #{query.tenantId}
            </if>
        </where>
        order by tm.id desc limit #{offset}, #{size}
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        <where>
            tm.del_flag  = 0
            <if test="query.id != null">
                and tm.id = #{query.id}
            </if>
            <if test="query.materialSn != null and query.materialSn != ''">
                and material_sn like concat('%',#{query.materialSn},'%')
            </if>
            <if test="query.productNo != null and query.productNo != ''">
                and product_no like concat('%',#{query.productNo},'%')
            </if>
            <if test="query.sn != null and query.sn != ''">
                and tp.sn = #{query.sn}
            </if>
            <if test="query.name != null and query.name != ''">
                and tp.name like concat('%',#{query.name},'%')
            </if>
            <if test="query.imei != null and query.imei != ''">
                and tmb.material_batch_no like concat('%',#{query.imei},'%')
            </if>
            <if test="query.materialBatchNo != null and query.materialBatchNo != ''">
                and material_batch_no like concat('%',#{query.materialBatchNo},'%')
            </if>
            <if test="query.materialState != null">
                and material_state = #{query.materialState}
            </if>
            <if test="query.materialId != null">
                and tm.material_id = #{query.materialId}
            </if>
            <if test="query.bindingStatus != null">
                and binding_status = #{query.bindingStatus}
            </if>
            <if test="query.startTime != null">
                and tm.create_time &gt;= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                and tm.create_time &lt;= #{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and tm.tenant_id = #{query.tenantId}
            </if>
        </where>
    </select>
    <select id="selectByParameter" resultType="com.xiliulou.afterserver.entity.Material">
        select
        tm.id,material_sn,product_no,tm.del_flag,binding_status,tm.create_time,tm.update_time,tenant_id,
        imei,atmel_id,test_time,remark,material_batch_no,material_state,material_id,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        <where>
            tm.del_flag  = 0
            <if test="id != null">
                and tm.id = #{id}
            </if>
            <if test="materialSn != null and materialSn != ''">
                and material_sn = #{materialSn}
            </if>
            <if test="productNo != null and productNo != ''">
                and product_no = #{productNo}
            </if>
            <if test="bindingStatus != null">
                and binding_status = #{bindingStatus}
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>
    <select id="selectMaterialSnListBySN" resultType="java.lang.String">
        select material_sn
        from t_material
        where product_no = #{productNo}
        limit #{offset}, #{size}
    </select>
    
    <select id="queryAllByList" resultType="com.xiliulou.afterserver.entity.Material">
        select
        tm.id,material_sn,product_no,tm.del_flag,binding_status,tm.create_time,tm.update_time,tenant_id,
        imei,atmel_id,test_time,remark,material_batch_no,material_state,material_id,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        <where>
            tm.del_flag  = 0
            <if test="id != null">
                and tm.id in
                <foreach close=")" collection="strings" item="batch" open="(" separator=",">
                    #{batch.id}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="exitsByBindingStatus" resultType="com.xiliulou.afterserver.entity.Material">
        select tm.id,material_sn,product_no,tm.del_flag,binding_status,tm.create_time,tm.update_time,tenant_id,
               imei,atmel_id,test_time,remark,material_batch_no,material_state,material_id,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        where binding_status = 1
        and material_batch_no = #{materialBatchNo} limit 1;
    </select>
    
    <!--新增所有列-->
    <select id="listAllByImeis" resultType="com.xiliulou.afterserver.entity.Material">
        select
        tm.id,material_sn,product_no,tm.del_flag,binding_status,tm.create_time,tm.update_time,tenant_id,
               imei,atmel_id,test_time,remark,material_batch_no,material_state,material_id,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        <where>
            tm.del_flag  = 0
            <foreach close=")" collection="imeis" item="batch" open="and imei in (" separator=",">
                #{batch}
            </foreach>
        </where>
    </select>
    
    <select id="ListAllByAtemlIDs" resultType="com.xiliulou.afterserver.entity.Material">
        select
        tm.id,material_sn,product_no,tm.del_flag,binding_status,tm.create_time,tm.update_time,tenant_id,
               imei,atmel_id,test_time,remark,material_batch_no,material_state,material_id,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        <where>
            tm.del_flag  = 0
            <foreach close=")" collection="atemlIDs" item="batch" open="and atmel_id in (" separator=",">
                #{batch}
            </foreach>
        </where>
    </select>
    
    <!--通过主键修改数据-->
    <select id="ListAllBySns" resultType="com.xiliulou.afterserver.entity.Material">
        select
        tm.id,material_sn,product_no,tm.del_flag,binding_status,tm.create_time,tm.update_time,tenant_id,
               imei,atmel_id,test_time,remark,material_batch_no,material_state,material_id,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        <where>
            tm.del_flag  = 0
            <foreach close=")" collection="sns" item="batch" open="and imei in (" separator=",">
                #{batch}
            </foreach>
        </where>
    </select>
    <select id="exitsByBindingStatusList" resultType="com.xiliulou.afterserver.entity.Material">
        select tm.id,material_sn,product_no,tm.del_flag,binding_status,tm.create_time,tm.update_time,tenant_id,
               imei,atmel_id,test_time,remark,material_batch_no,material_state,material_id,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        <where>
           binding_status = 1 and
            tm.del_flag  = 0
            <foreach close=")" collection="ids" item="batch" open="and tm.id in (" separator=",">
                #{batch}
            </foreach>
        </where>
        limit 1;
    </select>
    
    <select id="selectListByIds" resultType="com.xiliulou.afterserver.entity.Material">
        select
        tm.id,material_sn,product_no,tm.del_flag ,binding_status,tm.create_time,tm.update_time,tenant_id,
               imei,atmel_id,test_time,remark,material_batch_no,material_state,material_id,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        <where>
            tm.del_flag  = 0
            <foreach close=")" collection="ids" item="batch" open="and tm.id in (" separator=",">
                #{batch}
            </foreach>
        </where>
    </select>
    
    <select id="selectListByNos" resultType="com.xiliulou.afterserver.entity.Material">
        select
        tm.id,material_sn,product_no,tm.del_flag,binding_status,tm.create_time,tm.update_time,tenant_id,
        imei,atmel_id,test_time,remark,material_batch_no,material_state,material_id,tp.name,tp.sn
        from t_material tm left join t_parts tp on tp.id = tm.material_id
        <where>
            tm.del_flag  = 0 and tp.sn is not null
            <foreach close=")" collection="nos" item="batch" open="and product_no in (" separator=",">
                #{batch}
            </foreach>
        </where>
    </select>
    
    <select id="selectCountListByNos" resultType="com.xiliulou.afterserver.entity.Material">
        select count(1) as count,material_batch_no from t_material
        <where>
            del_flag  = 0
            <foreach close=")" collection="nos" item="batchNo" open="and material_batch_no in (" separator=",">
                #{batchNo}
            </foreach>
            <if test="unPassing != null">
                and material_state = #{unPassing}
            </if>
        </where>
        group by material_batch_no
    </select>
    
    <update id="update">
        update t_material
        <set>
            <if test="material.materialSn != null and material.materialSn != ''">
                material_sn = #{material.materialSn},
            </if>
            <!--           <if test="productNo != null and productNo != ''">-->
            product_no = #{material.productNo},
            <!--            </if>-->
            
            <if test="material.delFlag != null">
                del_flag = #{material.delFlag},
            </if>
            <if test="material.bindingStatus != null">
                binding_status = #{material.bindingStatus},
            </if>
            <if test="material.createTime != null">
                create_time = #{material.createTime},
            </if>
            <if test="material.updateTime != null">
                update_time = #{material.updateTime},
            </if>
            <if test="material.tenantId != null">
                tenant_id = #{material.tenantId},
            </if>
            <if test="material.imei != null and material.imei != ''">
                imei = #{material.imei},
            </if>
            <if test="material.atmelID != null and material.atmelID != ''">
                atmel_id = #{material.atmelID},
            </if>
            <if test="material.testTime != null">
                test_time = #{material.testTime},
            </if>
            <if test="material.remark != null and material.remark != ''">
                remark = #{material.remark},
            </if>
            <if test="material.materialBatchId != null and material.materialBatchId != ''">
                material_batch_no = #{material.materialBatchNo},
            </if>
            <if test="material.materialState != null">
                material_state = #{material.materialState},
            </if>
        </set>
        where id = #{material.id}
        <if test="thirdId != null">
            and tenant_id = #{thirdId}
        </if>
    </update>
    
    <!--通过主键删除-->
    <update id="materialUnbundling">
        update t_material
        <set>
            product_no = #{productNo},
            binding_status = #{bindingStatus},
            update_time = #{updateTime},
            tenant_id = 0
        </set>
        where id = #{id} and tenant_id = #{tenantId}
    </update>
    
    <!--逻辑删除-->
    <update id="removeById">
        update t_material
        <set>
            del_flag = 1,
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
    <update id="updateMaterialStateByIds">
        update t_material
        <set>
            material_state = #{materialState},
            update_time = #{updateTime},
            remark = #{remark}
            <if test="materialState == 0">
                product_no = null
            </if>
        </set>
        where del_flag = 0 and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>

