<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.PointNewMapper">

    <resultMap type="com.xiliulou.afterserver.entity.PointNew" id="PointNewMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="cityId" column="city_id" jdbcType="INTEGER"/>
        <result property="installType" column="install_type" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="cameraCount" column="camera_count" jdbcType="INTEGER"/>
        <result property="canopyCount" column="canopy_count" jdbcType="INTEGER"/>
        <result property="snNo" column="sn_no" jdbcType="VARCHAR"/>
        <result property="cardNumber" column="card_number" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PointNewMap">
        select
          id, name,customer_id, status, city_id, install_type, address, camera_count, canopy_count, sn_no, card_number, create_time, del_flag
        from t_point_new
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="PointNewMap">
        select
          id, name ,customer_id, status, city_id, install_type, address, camera_count, canopy_count, sn_no, card_number, create_time, del_flag
        from t_point_new
        <where>
        and del_flag = 0
            <if test="name != null and name!='' ">
                and name like concat('%', #{name},'%')
            </if>
        </where>
        order by create_time desc
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="PointNewMap">
        select
        id, name , customer_id, status, city_id, install_type, address, camera_count, canopy_count, sn_no, card_number, create_time, del_flag
        from t_point_new
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="customerId != null">
                and customer_id = #{customerId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="cityId != null">
                and city_id = #{cityId}
            </if>
            <if test="installType != null">
                and install_type = #{installType}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="cameraCount != null">
                and camera_count = #{cameraCount}
            </if>
            <if test="canopyCount != null">
                and canopy_count = #{canopyCount}
            </if>
            <if test="snNo != null and snNo != ''">
                and sn_no = #{snNo}
            </if>
            <if test="cardNumber != null and cardNumber != ''">
                and card_number = #{cardNumber}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_point_new(name,customer_id, status, city_id, install_type, address, camera_count, canopy_count, sn_no, card_number, create_time, del_flag)
        values (#{name},#{customerId}, #{status}, #{cityId}, #{installType}, #{address}, #{cameraCount}, #{canopyCount}, #{snNo}, #{cardNumber}, #{createTime}, #{delFlag})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_point_new
        <set>
            <if test="name != null">
                and name = #{name},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="cityId != null">
                city_id = #{cityId},
            </if>
            <if test="installType != null">
                install_type = #{installType},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="cameraCount != null">
                camera_count = #{cameraCount},
            </if>
            <if test="canopyCount != null">
                canopy_count = #{canopyCount},
            </if>
            <if test="snNo != null and snNo != ''">
                sn_no = #{snNo},
            </if>
            <if test="cardNumber != null and cardNumber != ''">
                card_number = #{cardNumber},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
       update t_point_new set  del_flag = 1 where id = #{id}
    </delete>

</mapper>
