<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.PointMapper">

    <resultMap id="pageMap" type="com.xiliulou.afterserver.web.vo.PointVo">
        <id property="id" column="p_id"/>
        <id property="name" column="p_name"/>
        <id property="customerId" column="p_customer_id"/>
        <id property="city" column="p_city"/>
        <id property="primaryCabinetNo" column="p_primary_cabinet_no"/>
        <id property="serialNumber" column="p_serial_number"/>
        <id property="cardNo" column="p_card_no"/>
        <id property="remark" column="p_remark"/>
        <id property="status" column="p_status"/>
        <id property="setTime" column="p_set_time"/>
        <id property="deliverTime" column="p_deliver_time"/>
        <id property="createTime" column="p_create_time"/>
        <id property="canopyCount" column="p_canopy_count"/>
        <id property="primaryCabinetCount" column="p_primary_cabinet_count"/>
        <id property="deputyCabinetCount" column="p_deputy_cabinet_count"/>
        <id property="deviceAmount" column="p_device_amount"/>
        <id property="paiedAmount" column="p_paied_amount"/>
        <id property="serverAmount" column="p_server_amount"/>
        <id property="serialNumber" column="p_serial_number"/>
        <id property="province" column="p_province"/>
        <id property="primaryCabinetNo" column="p_primary_cabinet_no"/>
        <id property="coordX" column="p_coord_x"/>
        <id property="coordY" column="p_coord_y"/>
        <id property="specificAddress" column="p_specific_address"/>

        <id property="customerName" column="c_name"/>

        <collection property="fileList" ofType="com.xiliulou.afterserver.entity.File">
            <id property="id" column="f_id"/>
            <id property="type" column="f_type"/>
            <id property="fileName" column="f_file_name"/>
            <id property="createTime" column="f_create_time"/>
            <id property="bindId" column="f_bind_id"/>
        </collection>
        <collection property="productSerialNumberVoList" ofType="com.xiliulou.afterserver.web.vo.ProductSerialNumberVo">
            <id property="id" column="psn_id"/>
            <id property="name" column="pt_name"/>
            <id property="type" column="pt_type"/>
            <id property="code" column="pt_code"/>
            <id property="boxNumber" column="pt_boxNumber"/>
            <id property="info" column="pt_info"/>
            <id property="setNo" column="psn_set_no"/>
            <id property="serialNumber" column="psn_serial_number"/>
        </collection>
        <collection property="pointBindSettleAccountsList"
                    ofType="com.xiliulou.afterserver.entity.PointBindSettleAccounts">
            <id property="deviceAmount" column="pisa_device_amount"/>
            <id property="serverAmount" column="pisa_server_amount"/>

        </collection>
    </resultMap>

    <select id="pointPage" resultMap="pageMap">
        SELECT p.id as p_id,
        p.name as p_name,
        p.customer_id as p_customer_id,
        p.city as p_city,
        p.primary_cabinet_no as p_primarty_cabinet_no,
        p.card_no as p_card_no,
        p.remark as p_remark,
        p.status as p_status,
        p.set_time as p_set_time,
        p.deliver_time as p_deliver_time,
        p.create_time as p_create_time,
        p.canopy_count as p_canopy_count,
        p.serial_number as p_serial_number,
        p.primary_cabinet_count as p_primary_cabinet_count,
        p.primary_cabinet_no as p_primary_cabinet_no,
        p.deputy_cabinet_count as p_deputy_cabinet_count,
        p.device_amount as p_device_amount,
        p.paied_amount as p_paied_amount,
        p.server_amount as p_server_amount,
        p.box_number as p_box_number,
        p.province as p_province,
        pt.id as pt_id,
        pt.name as pt_name,
        pt.code as pt_code,
        pt.box_number as pt_box_number,
        pt.create_time as pt_create_time,
        pt.info as pt_info,
        psn.id as psn_id,
        psn.serial_number as psn_serial_number,
        psn.set_no as psn_set_no,
        f.id as f_id,
        f.bind_id as f_bind_id,
        f.type as f_type,
        f.file_name as f_file_name,
        f.create_time as f_create_time,
        c.name as c_name,
        pisa.server_amount as pisa_server_amount,
        pisa.device_amount as pisa_device_amount
        FROM point p
        LEFT JOIN product_serial_number psn on psn.point_id =p.id
        LEFT JOIN product pt on psn.product_id = pt.id
        LEFT JOIN file f on f.bind_id = p.id and f.type =1
        LEFT JOIN customer c on c.id = p.customer_id
        LEFT JOIN point_bind_settle_accounts as pisa on pisa.point_id = p.id
        <where>
            <if test="query.city != null and query.city != ''">
                and p.city =#{query.city}
            </if>
            <if test="query.customerId != null ">
                and p.customer_id = #{query.customerId}
            </if>
            <if test="query.name != null and query.name != ''">
                and p.name LIKE CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.createTimeStart != null and query.createTimeEnd !=null ">
                and p.create_time BETWEEN #{query.createTimeStart} and #{query.createTimeEnd}
            </if>

        </where>
        ORDER BY p.create_time DESC
    </select>

    <select id="getDeliverCostAmount" resultType="java.math.BigDecimal">
        SELECT SUM(d.deliver_cost)
        FROM deliver d
        <where>
            <if test="query.city != null and query.city != ''">
                and d.city =#{query.city}
            </if>
            <if test="query.customerId != null ">
                and d.customer_id = #{query.customerId}
            </if>
            <if test="query.pointId != null ">
                and d.point_id = #{query.pointId}
            </if>
            <if test="query.queryStartTime != null and query.queryEndTime !=null ">
                and d.create_time BETWEEN #{query.queryStartTime} and #{query.queryEndTime}
            </if>
        </where>
    </select>
    <select id="getWorkOrderCostAmount" resultType="java.math.BigDecimal">
        SELECT
        SUM(wo.fee-wo.third_company_pay)
        FROM work_order wo
        LEFT JOIN point as p on p.id = wo.point_id
        where wo.third_company_type =1
        <if test="query.city != null and query.city != ''">
            and p.city =#{query.city}
        </if>
        <if test="query.customerId != null ">
            and wo.third_company_id = #{query.customerId}
        </if>
        <if test="query.pointId != null ">
            and wo.point_id = #{query.pointId}
        </if>
        <if test="query.workOrderTypeId != null ">
            and wo.type = #{query.workOrderTypeId}
        </if>
        <if test="query.queryStartTime != null and query.queryEndTime !=null ">
            and wo.create_time BETWEEN #{query.queryStartTime} and #{query.queryEndTime}
        </if>

    </select>

    <select id="getCabinetAmount" resultType="com.xiliulou.afterserver.web.vo.CabinetAndBoxAmountVo">
        SELECT SUM(primary_cabinet_count + deputy_cabinet_count) as cabinet_amount,
        SUM(box_number) as box_amount
        FROM point as p

        <where>
            <if test="query.city != null and query.city != ''">
                and p.city =#{query.city}
            </if>
            <if test="query.customerId != null ">
                and p.customer_id = #{query.customerId}
            </if>
            <if test="query.pointId != null ">
                and p.id = #{query.pointId}
            </if>
        </where>

    </select>

    <select id="getBoxAmount" resultType="java.lang.Long">
        SELECT sum(pro.box_number) FROM product_serial_number psn
        LEFT JOIN point as p on p.id = psn.product_id
        LEFT JOIN product as pro on pro.id =psn.product_id

        WHERE pro.type in (1,2)
        <if test="query.city != null and query.city != ''">
            and p.city =#{query.city}
        </if>
        <if test="query.customerId != null ">
            and p.customer_id = #{query.customerId}
        </if>
        <if test="query.pointId != null ">
            and p.id = #{query.pointId}
        </if>
    </select>
    <select id="getPointList" resultMap="pageMap">
        SELECT p.id as p_id,
        p.name as p_name,
        p.customer_id as p_customer_id,
        p.city as p_city,
        p.primary_cabinet_no as p_primarty_cabinet_no,
        p.card_no as p_card_no,
        p.remark as p_remark,
        p.status as p_status,
        p.set_time as p_set_time,
        p.deliver_time as p_deliver_time,
        p.create_time as p_create_time,
        p.canopy_count as p_canopy_count,
        p.serial_number as p_serial_number,
        p.primary_cabinet_count as p_primary_cabinet_count,
        p.primary_cabinet_no as p_primary_cabinet_no,
        p.deputy_cabinet_count as p_deputy_cabinet_count,
        p.device_amount as p_device_amount,
        p.paied_amount as p_paied_amount,
        p.server_amount as p_server_amount,
        p.box_number as p_box_number,
        p.province as p_province,
        pt.id as pt_id,
        pt.name as pt_name,
        pt.code as pt_code,
        pt.box_number as pt_box_number,
        pt.create_time as pt_create_time,
        pt.info as pt_info,
        psn.id as psn_id,
        psn.serial_number as psn_serial_number,
        psn.set_no as psn_set_no,
        f.id as f_id,
        f.bind_id as f_bind_id,
        f.type as f_type,
        f.file_name as f_file_name,
        f.create_time as f_create_time,
        c.name as c_name,
        pisa.server_amount as pisa_server_amount,
        pisa.device_amount as pisa_device_amount
        FROM point p
        LEFT JOIN product_serial_number psn on psn.point_id =p.id
        LEFT JOIN product pt on psn.product_id = pt.id
        LEFT JOIN file f on f.bind_id = p.id and f.type =1
        LEFT JOIN customer c on c.id = p.customer_id
        LEFT JOIN point_bind_settle_accounts as pisa on pisa.point_id = p.id
        <where>
            <if test="query.city != null and query.city != ''">
                and p.city =#{query.city}
            </if>
            <if test="query.customerId != null ">
                and p.customer_id = #{query.customerId}
            </if>
            <if test="query.name != null and query.name != ''">
                and p.name LIKE CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.createTimeStart != null and query.createTimeEnd !=null ">
                and p.create_time BETWEEN #{query.createTimeStart} and #{query.createTimeEnd}
            </if>
        </where>

        ORDER BY p.create_time DESC
    </select>

    <select id="getPointIdList" resultType="java.lang.Long">
        SELECT p.id
        from point as p
        <where>
            <if test="query.city != null and query.city != ''">
                and p.city =#{query.city}
            </if>
            <if test="query.customerId != null ">
                and p.customer_id = #{query.customerId}
            </if>
            <if test="query.name != null and query.name != ''">
                and p.name LIKE CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.createTimeStart != null and query.createTimeEnd !=null ">
                and p.create_time BETWEEN #{query.createTimeStart} and #{query.createTimeEnd}
            </if>

        </where>
        ORDER BY p.create_time DESC
    </select>

    <select id="getPointBaseInfo" resultMap="pageMap">
        SELECT p.id                    as p_id,
               p.name                  as p_name,
               p.customer_id           as p_customer_id,
               p.city                  as p_city,
               p.primary_cabinet_no    as p_primarty_cabinet_no,
               p.card_no               as p_card_no,
               p.remark                as p_remark,
               p.status                as p_status,
               p.set_time              as p_set_time,
               p.deliver_time          as p_deliver_time,
               p.create_time           as p_create_time,
               p.canopy_count          as p_canopy_count,
               p.serial_number         as p_serial_number,
               p.primary_cabinet_count as p_primary_cabinet_count,
               p.primary_cabinet_no    as p_primary_cabinet_no,
               p.deputy_cabinet_count  as p_deputy_cabinet_count,
               p.device_amount         as p_device_amount,
               p.paied_amount          as p_paied_amount,
               p.server_amount         as p_server_amount,
               p.box_number            as p_box_number,
               p.province              as p_province,
               p.coord_y               as p_coord_y,
               p.coord_x               as p_coord_x,
               p.specific_address      as p_specific_address,
               pt.id                   as pt_id,
               pt.name                 as pt_name,
               pt.code                 as pt_code,
               pt.box_number           as pt_box_number,
               pt.create_time          as pt_create_time,
               pt.info                 as pt_info,
               psn.id                  as psn_id,
               psn.serial_number       as psn_serial_number,
               psn.set_no              as psn_set_no,
               f.id                    as f_id,
               f.bind_id               as f_bind_id,
               f.type                  as f_type,
               f.file_name             as f_file_name,
               f.create_time           as f_create_time,
               c.name                  as c_name,
               pisa.server_amount      as pisa_server_amount,
               pisa.device_amount      as pisa_device_amount
        FROM point as p
                 LEFT JOIN product_serial_number psn on psn.point_id = p.id
                 LEFT JOIN product pt on psn.product_id = pt.id
                 LEFT JOIN file f on f.bind_id = p.id and f.type = 1
                 LEFT JOIN customer c on c.id = p.customer_id
                 LEFT JOIN point_bind_settle_accounts as pisa on pisa.point_id = p.id
        where p.id = #{id}


        ORDER BY p.create_time DESC
    </select>

    <select id="getAllPoint" resultMap="pageMap">
        SELECT p.id                    as p_id,
               p.name                  as p_name,
               p.customer_id           as p_customer_id,
               p.city                  as p_city,
               p.primary_cabinet_no    as p_primarty_cabinet_no,
               p.card_no               as p_card_no,
               p.remark                as p_remark,
               p.status                as p_status,
               p.set_time              as p_set_time,
               p.deliver_time          as p_deliver_time,
               p.create_time           as p_create_time,
               p.canopy_count          as p_canopy_count,
               p.serial_number         as p_serial_number,
               p.primary_cabinet_count as p_primary_cabinet_count,
               p.primary_cabinet_no    as p_primary_cabinet_no,
               p.deputy_cabinet_count  as p_deputy_cabinet_count,
               p.device_amount         as p_device_amount,
               p.paied_amount          as p_paied_amount,
               p.server_amount         as p_server_amount,
               p.box_number            as p_box_number,
               p.province              as p_province,

               psn.id                  as psn_id,
               psn.serial_number       as psn_serial_number,
               psn.set_no              as psn_set_no

        FROM point p
                 LEFT JOIN product_serial_number psn on psn.point_id = p.id

    </select>
    <select id="getByStatCount" resultType="java.lang.Integer">
        SELECT count(point_id) FROM `work_order` where 1 = 1

        <if test="years != null"  >
            and years = #{years}
        </if>
        <if test="mouth != null" >
            and mouths = #{mouths}
        </if>
        <if test="city != null">
            and city = #{city}
        </if>
    </select>


</mapper>