<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.PointMapper">

    <resultMap id="pageMap" type="com.xiliulou.afterserver.web.vo.PointVo">
        <id property="id" column="p_id"/>
        <id property="name" column="p_name"/>
        <id property="customerId" column="p_customer_id"/>
        <id property="city" column="p_city"/>
        <id property="primaryCabinetNo" column="p_primary_cabinet_no"/>
        <id property="serialNumber" column="p_serial_number"/>
        <id property="cardNo" column="p_card_no"/>
        <id property="remark" column="p_remark"/>
        <id property="setTime" column="p_set_time"/>
        <id property="deliverTime" column="p_deliver_time"/>
        <id property="createTime" column="p_create_time"/>
        <id property="customerName" column="c_name"/>

        <collection property="fileList" ofType="com.xiliulou.afterserver.entity.File">
            <id property="id" column="f_id"/>
            <id property="type" column="f_type"/>
            <id property="fileName" column="f_file_name"/>
            <id property="createTime" column="f_create_time"/>
            <id property="bindId" column="f_bind_id"/>

        </collection>
        <collection property="productList" ofType="com.xiliulou.afterserver.entity.Product">
            <id property="id" column="pt_id"/>
            <id property="name" column="pt_name"/>
            <id property="type" column="pt_type"/>
            <id property="code" column="pt_code"/>
            <id property="boxNumber" column="pt_boxNumber"/>
            <id property="createTime" column="pt_create_time"/>
            <id property="info" column="pt_info"/>
        </collection>
        <collection property="settleAccountsList" ofType="com.xiliulou.afterserver.entity.SettleAccounts">
            <id property="id" column="sa_id"/>
            <id property="customerId" column="sa_customer_id"/>
            <id property="totalAmount" column="sa_total_amount"/>
            <id property="payRate" column="sa_pay_rate"/>
            <id property="payAmount" column="sa_pay_amount"/>
            <id property="unPayAmount" column="sa_un_pay_amount"/>
            <id property="billAmount" column="sa_bill_amount"/>
            <id property="unBillAmount" column="sa_un_bill_amount"/>
            <id property="remark" column="sa_remark"/>
            <id property="payTime" column="sa_pay_time"/>
            <id property="createTime" column="sa_create_time"/>
            <id property="pointId" column="sa_point_id"/>
        </collection>
    </resultMap>

    <select id="pointPage" resultMap="pageMap">
        SELECT p.id as p_id,
        p.name as p_name,
        p.customer_id as p_customer_id,
        p.city as p_city,
        p.primary_cabinet_no as p_primarty_cabinet_no,
        p.card_no as p_card_no,
        p.remark as p_remark,
        p.set_time as p_set_time,
        p.deliver_time as p_deliver_time,
        p.create_time as p_create_time,
        pt.id as pt_id,
        pt.name as pt_name,
        pt.code as pt_code,
        pt.box_number as pt_box_number,
        pt.create_time as pt_create_time,
        pt.info as pt_info,
        f.id as f_id,
        f.bind_id as f_bind_id,
        f.type as f_type,
        f.file_name as f_file_name,
        f.create_time as f_create_time,
        c.name as c_name,
        sa.id as sa_id,
        sa.customer_id as sa_customer_id,
        sa.total_amount as sa_total_amount,
        sa.pay_rate as sa_pay_rate,
        sa.pay_amount as sa_pay_amount,
        sa.un_pay_amount as sa_un_pay_amount,
        sa.bill_amount as sa_un_bill_amount,
        sa.remark as sa_remark,
        sa.pay_time as sa_pay_time,
        sa.create_time as sa_create_time,
        sa.point_id as sa_point_id
        FROM point p
        LEFT JOIN point_bind_product pdp on pdp.point_id = p.id
        LEFT JOIN product pt on pdp.product_id = pt.id
        LEFT JOIN file f on f.bind_id = p.id
        LEFT JOIN customer c on c.id = p.customer_id
        LEFT JOIN settle_accounts sa on sa.point_id = p.id

        <where>
            <if test="query.city != null and query.city != ''">
                and p.city =#{query.city}
            </if>
            <if test="query.customerId != null ">
                and p.customer_id = #{query.customerId}
            </if>
            <if test="query.name != null and query.name != ''">
                and p.name LIKE CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.createTimeStart != null and query.createTimeEnd !=null ">
                and p.create_time BETWEEN #{query.createTimeStart} and #{query.createTimeEnd}
            </if>
        </where>

        ORDER BY p.create_time DESC
    </select>

    <select id="getDeliverCostAmount" resultType="java.math.BigDecimal">
        SELECT SUM(d.deliver_cost)
        FROM deliver d
        <if test="query.city != null and query.city != ''">
            and d.city =#{query.city}
        </if>
        <if test="query.customerId != null ">
            and and d.customer_id = #{query.customer_id}
        </if>
        <if test="query.pointId != null ">
            and and d.point_id = #{query.point_id}
        </if>

        <if test="query.queryStartTime != null and query.queryEndTime !=null ">
            and d.create_time BETWEEN #{query.queryStartTime} and #{query.queryEndTime}
        </if>

    </select>
    <select id="getWorkOrderCostAmount" resultType="java.math.BigDecimal">
        SELECT
        SUM(wo.fee-wo.third_party_pay)
        FROM work_order  wo
        LEFT JOIN point as p  on p.id = wo.point_id
        WHERE
             and p.id= 7 and wo.create_time  BETWEEN 0 and 2
        and p.customer_id =1

        <if test="query.city != null and query.city != ''">
            and p.city =#{query.city}
        </if>
        <if test="query.customerId != null ">
            and and wo.company_id = #{query.customerId}
        </if>
        <if test="query.pointId != null ">
            and and p.point_id = #{query.point_id}
        </if>
        <if test="query.workOrderTypeId != null ">
            and p.type = #{query.workOrderTypeId}
        </if>
        <if test="query.queryStartTime != null and query.queryEndTime !=null ">
            and wo.create_time BETWEEN #{query.queryStartTime} and #{query.queryEndTime}
        </if>

    </select>

    <select id="getCabinetAmount" resultType="java.lang.Long">
        SELECT SUM(pbp.count)
        FROM point p
                 LEFT JOIN point_bind_product pbp on pbp.point_id = p.id
                 LEFT JOIN product pro on pro.id = pbp.product_id
        WHERE pro.type in (1, 2)
        <if test="query.city != null and query.city != ''">
            and p.city =#{query.city}
        </if>
        <if test="query.customerId != null ">
            and and p.customer_id = #{query.customerId}
        </if>
        <if test="query.pointId != null ">
            and and p.id = #{query.point_id}
        </if>
        <if test="query.workOrderTypeId != null ">
            and p.type = #{query.workOrderTypeId}
        </if>
        <if test="query.queryStartTime != null and query.queryEndTime !=null ">
            and wo.create_time BETWEEN #{query.queryStartTime} and #{query.queryEndTime}
        </if>
    </select>
</mapper>