<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.PointNewMapper">
    <resultMap type="com.xiliulou.afterserver.entity.PointNew" id="PointNewMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="cityId" column="city_id" jdbcType="INTEGER"/>
        <result property="installType" column="install_type" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="cameraCount" column="camera_count" jdbcType="INTEGER"/>
        <result property="canopyCount" column="canopy_count" jdbcType="INTEGER"/>
        <result property="snNo" column="sn_no" jdbcType="VARCHAR"/>
        <result property="cardNumber" column="card_number" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="createUid" column="create_uid" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="cardSupplier" column="card_supplier" jdbcType="VARCHAR"/>
        <result property="completionTime" column="completion_time" jdbcType="INTEGER"/>
        <result property="isEntry" column="is_entry" jdbcType="INTEGER"/>
        <result property="isAcceptance" column="is_acceptance" jdbcType="INTEGER"/>
        <result property="productSeries" column="product_series" jdbcType="INTEGER"/>
        <result property="orderTime" column="order_time" jdbcType="INTEGER"/>
        <result property="operator" column="operator" jdbcType="VARCHAR"/>
        <result property="logisticsInfo" column="logistics_info" jdbcType="VARCHAR"/>
        <result property="productInfo" column="product_info" jdbcType="VARCHAR"/>
        <result property="cameraInfo" column="camera_info" jdbcType="VARCHAR"/>
        <result property="installTime" column="install_time" jdbcType="INTEGER"/>
        <result property="auditStatus" column="audit_status" jdbcType="INTEGER"/>
        <result property="auditRemarks" column="audit_remarks" jdbcType="VARCHAR"/>
        <result property="warrantyPeriod" column="warranty_period" jdbcType="INTEGER"/>
        <result property="warrantyTime" column="warranty_time" jdbcType="INTEGER"/>
        <result property="coordX" column="coord_x" jdbcType="DECIMAL"/>
        <result property="coordY" column="coord_y" jdbcType="DECIMAL"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PointNewMap">
        select
          id, name,customer_id, status, city_id, install_type, address, camera_count, canopy_count, sn_no, card_number,
           remarks,create_uid,create_time, del_flag, card_supplier, completion_time, is_entry, is_acceptance, product_series,
        order_time, operator, logistics_info, product_info, camera_info, install_time, audit_status, audit_remarks,
         warranty_time,warranty_period
        from t_point_new
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="PointNewMap">
        select
        id, name , customer_id, status, city_id, install_type, address, camera_count, canopy_count, sn_no, card_number,
        remarks,create_uid,create_time, del_flag, card_supplier, completion_time, is_entry, is_acceptance, product_series,
        order_time, operator, logistics_info, product_info, camera_info, install_time, audit_status, audit_remarks,
        warranty_period, warranty_time, coord_x, coord_y
        from t_point_new
        <where>
        and del_flag = 0
            <if test="name != null and name!='' ">
                and name like concat('%', #{name},'%')
            </if>
            <if test="customerId != null">
                and customer_id = #{customerId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="cid != null">
                and city_id = #{cid}
            </if>
            <if test="snNo != null">
                and sn_no = #{snNo}
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>

            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="createUid != null and createUid != ''">
                and create_uid = #{createUid}
            </if>
            <if test="productSeries != null">
                and product_series = #{productSeries}
            </if>
            <if test="auditStatus != null">
                and audit_status = #{auditStatus}
            </if>
        </where>
        order by create_time desc
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="PointNewMap">
        select
        id, name , customer_id, status, city_id, install_type, address, camera_count, canopy_count, sn_no, card_number,
        remarks,create_uid,create_time, del_flag
        from t_point_new
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="customerId != null">
                and customer_id = #{customerId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="cityId != null">
                and city_id = #{cityId}
            </if>
            <if test="installType != null">
                and install_type = #{installType}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="cameraCount != null">
                and camera_count = #{cameraCount}
            </if>
            <if test="canopyCount != null">
                and canopy_count = #{canopyCount}
            </if>
            <if test="snNo != null and snNo != ''">
                and sn_no = #{snNo}
            </if>
            <if test="cardNumber != null and cardNumber != ''">
                and card_number = #{cardNumber}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
        </where>
    </select>
    <select id="countPoint" resultType="java.lang.Integer">
        select count(1) from t_point_new
        <where>
            and del_flag = 0
            <if test="name != null and name!='' ">
                and name like concat('%', #{name},'%')
            </if>
            <if test="customerId != null">
                and customer_id = #{customerId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="cid != null">
                and city_id = #{cid}
            </if>
            <if test="snNo != null">
                and sn_no = #{snNo}
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>

            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="createUid != null and createUid != ''">
                and create_uid = #{createUid}
            </if>
            <if test="productSeries != null">
                and product_series = #{productSeries}
            </if>
            <if test="auditStatus != null">
                and audit_status = #{auditStatus}
            </if>
        </where>
    </select>

    <select id="queryAllByLimitExcel" resultType="com.xiliulou.afterserver.entity.PointNew">
        select
        id, name , customer_id, status, city_id, install_type, address, camera_count, canopy_count, sn_no, card_number,
        remarks,create_uid,create_time, del_flag,card_supplier, completion_time, is_entry, is_acceptance, product_series,
        order_time, operator, logistics_info, product_info, camera_info, install_time, audit_status, audit_remarks
        , warranty_period, warranty_time
        from t_point_new
        <where>
            and del_flag = 0
            <if test="name != null and name!='' ">
                and name like concat('%', #{name},'%')
            </if>
            <if test="customerId != null">
                and customer_id = #{customerId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="cid != null">
                and city_id = #{cid}
            </if>
            <if test="snNo != null">
                and sn_no = #{snNo}
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>

            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="createUid != null and createUid != ''">
                and create_uid = #{createUid}
            </if>
            <if test="productSeries != null">
                and product_series = #{productSeries}
            </if>
            <if test="auditStatus != null">
                and audit_status = #{auditStatus}
            </if>
        </where>
        order by create_time desc
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_point_new(name,customer_id, status, city_id, install_type, address, camera_count, canopy_count,
         sn_no, card_number, remarks,create_uid,create_time, del_flag, card_supplier, completion_time, is_entry, is_acceptance,
          product_series, order_time, operator, logistics_info, product_info, camera_info, install_time, audit_status, audit_remarks,
          warranty_period, warranty_time, coord_x, coord_y)
        values (#{name},#{customerId}, #{status}, #{cityId}, #{installType}, #{address}, #{cameraCount}, #{canopyCount},
         #{snNo}, #{cardNumber},#{remarks},#{createUid},#{createTime}, #{delFlag}, #{cardSupplier}, #{completionTime},
         #{isEntry}, #{isAcceptance},#{productSeries},#{orderTime},#{operator}, #{logisticsInfo},#{productInfo},
         #{cameraInfo},#{installTime},#{auditStatus},#{auditRemarks},#{warrantyPeriod},#{warrantyTime}, #{coordX}, #{coordY})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_point_new
        <set>
            camera_count = #{cameraCount},
            canopy_count = #{canopyCount},
            sn_no = #{snNo},
            card_number = #{cardNumber},
            card_supplier = #{cardSupplier},
            completion_time = #{completionTime},
            install_time = #{installTime},
            is_entry = #{isEntry},
            is_acceptance = #{isAcceptance},
            order_time = #{orderTime},
            operator = #{operator},
            audit_remarks = #{auditRemarks},
            address = #{address},
            remarks = #{remarks},
            logistics_info = #{logisticsInfo},
            warranty_period = #{warrantyPeriod},
            warranty_time = #{warrantyTime},
            <if test="name != null">
                name = #{name},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="cityId != null">
                city_id = #{cityId},
            </if>
            <if test="installType != null">
                install_type = #{installType},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>

            <if test="productSeries != null">
                product_series = #{productSeries},
            </if>
            <if test="productInfo != null and productInfo != ''">
                product_info = #{productInfo},
            </if>
            <if test="cameraInfo != null and cameraInfo != ''">
                camera_info = #{cameraInfo},
            </if>
            <if test="auditStatus != null">
                audit_status = #{auditStatus},
            </if>
            <if test="coordX != null">
                coord_x = #{coordX},
            </if>
            <if test="coordY != null">
                coord_y = #{coordY},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
       update t_point_new set  del_flag = 1 where id = #{id}
    </delete>

    <update id="updateMany">
        <foreach collection="list" item="pointNew">
            update t_point_new
            <set>
                <if test="pointNew.name!= null and pointNew.name != ''">
                    name = #{pointNew.name},
                </if>
                <if test="pointNew.status != null">
                    status = #{pointNew.status},
                </if>
                <if test="pointNew.cityId != null">
                    city_id = #{pointNew.cityId},
                </if>
                <if test="pointNew.createTime != null">
                    create_time = #{pointNew.createTime},
                </if>
                <if test="pointNew.delFlag != null">
                    del_flag = #{pointNew.delFlag},
                </if>
                <if test="pointNew.auditStatus != null">
                    audit_status = #{pointNew.auditStatus},
                </if>
                audit_remarks = #{pointNew.auditRemarks},
                customer_id = #{pointNew.customerId},
                install_type = #{pointNew.installType},
                address = #{pointNew.address},
                camera_count = #{pointNew.cameraCount},
                canopy_count = #{pointNew.canopyCount},
                sn_no = #{pointNew.snNo},
                card_number = #{pointNew.cardNumber},
                card_supplier = #{pointNew.cardSupplier},
                remarks = #{pointNew.remarks},
                create_uid = #{pointNew.createUid},
                completion_time = #{pointNew.completionTime},
                is_entry = #{pointNew.isEntry},
                is_acceptance = #{pointNew.isAcceptance},
                product_series = #{pointNew.productSeries},
                order_time = #{pointNew.orderTime},
                operator = #{pointNew.operator},
                logistics_info = #{pointNew.logisticsInfo}
            </set>
            where id = #{pointNew.id};
        </foreach>
    </update>

</mapper>
