<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.ProductSerialNumberMapper">


    <select id="getSerialNumberPage" resultType="com.xiliulou.afterserver.web.vo.ProductSerialNumberVo">

        SELECT
        psu.id ,
        psu.price ,
        psu.serial_number ,
        psu.product_id,
        psu.create_time ,
        psu.remarks ,
        p.name as product_name,
        psu.status,
        psu.batch,
        psu.remarks
        FROM
        product_serial_number AS psu
        LEFT JOIN product AS p ON p.id = psu.product_id


        <where>
            <if test="query.productId != null">
                and psu.product_id =#{query.productId}

            </if>

            <if test="query.serialNumber != null and query.serialNumber != ''">
                and psu.serial_number like CONCAT('%',#{query.serialNumber},'%')
            </if>
            <if test="query.createTimeStart != null and query.createTimeEnd !=null ">
                and psu.create_time BETWEEN #{query.createTimeStart} and #{query.createTimeEnd}
            </if>
        </where>

        ORDER BY psu.id DESC
    </select>

    <select id="getSerialNumberList" resultType="com.xiliulou.afterserver.web.vo.ProductSerialNumberVo">

        SELECT
        psu.serial_number ,
        psu.product_id,
        psu.create_time ,
        psu.price as price,
        p.name as product_name

        FROM
        product_serial_number AS psu
        LEFT JOIN product AS p ON p.id = psu.product_id


        <where>
            <if test="query.productId != null">
                and psu.product_id =#{query.productId}

            </if>

            <if test="query.serialNumber != null and query.serialNumber != ''">
                and psu.serial_number like CONCAT('%',#{query.serialNumber},'%')
            </if>
            <if test="query.createTimeStart != null and query.createTimeEnd !=null ">
                and psu.create_time BETWEEN #{query.createTimeStart} and #{query.createTimeEnd}
            </if>
        </where>

        ORDER BY psu.id DESC
    </select>
</mapper>