<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.ProductNewTestContentMapper">

  <resultMap type="com.xiliulou.afterserver.entity.ProductNewTestContent" id="ProductNewTestContentMap">
    <result property="id" column="id" jdbcType="INTEGER"/>
    <result property="pid" column="pid" jdbcType="INTEGER"/>
    <result property="content" column="content" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="BIGINT"/>
    <result property="updateTime" column="update_time" jdbcType="BIGINT"/>
    <result property="testContentResult" column="test_content_result" jdbcType="VARCHAR"/>
  </resultMap>

  <!--查询单个-->
  <select id="queryById" resultMap="ProductNewTestContentMap">
        select
          id, pid, content, create_time, update_time
        from t_product_new_test_content
        where id = #{id}
    </select>

  <!--查询指定行数据-->
  <select id="queryAllByLimit" resultMap="ProductNewTestContentMap">
        select
          id, pid, content, create_time, update_time
        from t_product_new_test_content
        limit #{offset}, #{limit}
    </select>

  <!--通过实体作为筛选条件查询-->
  <select id="queryAll" resultMap="ProductNewTestContentMap">
    select
    id, pid, content, create_time, update_time
    from t_product_new_test_content
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="pid != null">
        and pid = #{pid}
      </if>
      <if test="content != null and content != ''">
        and content = #{content}
      </if>
    </where>
  </select>

  <!--新增所有列-->
  <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_product_new_test_content(pid, content, create_time, update_time, test_content_result)
        values (#{pid}, #{content}, #{createTime}, #{updateTime}, #{testContentResult})
    </insert>

  <!--通过主键修改数据-->
  <update id="update">
    update t_product_new_test_content
    <set>
      <if test="pid != null">
        pid = #{pid},
      </if>
      <if test="content != null and content != ''">
        content = #{content},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
      <if test="testContentResult != null">
        test_content_result = #{testContentResult},
      </if>
    </set>
    where id = #{id}
  </update>

  <!--通过主键删除-->
  <delete id="deleteById">
        delete from t_product_new_test_content where id = #{id}
    </delete>

  <select id="queryByPid" resultMap="ProductNewTestContentMap">
    select
    id, pid, content, create_time, update_time, test_content_result
    from t_product_new_test_content
    where pid = #{pid}
  </select>

</mapper>
