<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.ProductNewMapper">

    <resultMap type="com.xiliulou.afterserver.entity.ProductNew" id="ProductNewMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="no" column="no" jdbcType="VARCHAR"/>
        <result property="modelId" column="model_id" jdbcType="INTEGER"/>
        <result property="batchId" column="batch_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="expirationStartTime" column="expiration_start_time" jdbcType="INTEGER"/>
        <result property="years" column="years" jdbcType="INTEGER"/>
        <result property="expirationEndTime" column="expiration_end_time" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
<!--        <result property="iotCardId" column="iot_card_id" jdbcType="INTEGER"/>-->
<!--        <result property="cameraId" column="camera_id" jdbcType="INTEGER"/>-->
<!--        <result property="surface" column="surface" jdbcType="INTEGER"/>-->
<!--        <result property="color" column="color" jdbcType="INTEGER"/>-->
        <result property="testResult" column="test_result" jdbcType="INTEGER"/>
        <result property="testFile" column="test_file"/>
        <result property="testType" column="test_type"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ProductNewMap">
        select
          id, no, model_id, batch_id, status, expiration_start_time,years, expiration_end_time, create_time,update_time ,del_flag, cache, test_start_time, test_end_time, test_msg
        from t_product_new
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ProductNewMap">
        select
          p.id, p.no, p.model_id, p.batch_id, p.status, p.expiration_start_time, p.years, p.expiration_end_time,
          p.create_time,p.update_time, p.del_flag, p.serial_num, p.type, p.supplier_id,p.remarks,p.iot_card_id,
          p.camera_id,p.surface,p.color, p.test_result, p.test_file, p.app_version, p.sys_version, p.test_type,
          p.test_start_time, p.test_end_time, p.test_msg ,p.error_message,p.product_key,p.device_name,p.is_use,p.cabinet_sn
        from t_product_new p
    <where>
        and p.del_flag = 0
        and p.cache is null
        <if test="list != null and list.size() > 0">
            and p.id in
            <foreach collection="list" item="c" open="(" separator="," close=")">
                #{c}
            </foreach>
        </if>
        <if test="no != null and no != '' ">
            and p.no like concat('%', #{no},'%')
        </if>
        <if test="modelId != null and modelId != ''">
            and p.model_id = #{modelId}
        </if>
        <if test="startTime != null">
            and p.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and p.create_time &lt;= #{endTime}
        </if>
        <if test="testType != null and testType != ''">
            and p.test_type = #{testType}
        </if>
        <if test="cabinetSn != null and cabinetSn != ''">
            and p.cabinet_sn  like concat('%', #{cabinetSn},'%')
        </if>
    </where>
    order by create_time desc
    limit #{offset}, #{limit}
</select>

<!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ProductNewMap">
        select
        id, no, model_id, batch_id, status, expiration_start_time,years,  expiration_end_time, create_time, del_flag
        from t_product_new
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="no != null">
                and no = #{no}
            </if>
            <if test="modelId != null">
                and model_id = #{modelId}
            </if>
            <if test="batchId != null">
                and batch_id = #{batchId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="expirationStartTime != null">
                and expiration_start_time = #{expirationStartTime}
            </if>
            <if test="years != null">
                and years = #{years}
            </if>
            <if test="expirationEndTime != null">
                and expiration_end_time = #{expirationEndTime}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
        </where>
    </select>
    <select id="countProduct" resultType="java.lang.Integer">
        select count(1) from t_product_new p <!--left join t_point_product_bind b on p.id = b.product_id-->
        <where>
            and p.del_flag = 0
            and p.cache is null
            <if test="list != null and list.size() > 0">
                and p.id in
                <foreach collection="list" item="c" open="(" separator="," close=")">
                    #{c}
                </foreach>
            </if>
            <if test="no != null and no != '' ">
                and p.no like concat('%', #{no},'%')
            </if>
            <if test="modelId != null and modelId != ''">
                and p.model_id = #{modelId}
            </if>
            <if test="startTime != null">
                and p.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and p.create_time &lt;= #{endTime}
            </if>
            <if test="testType != null and testType != ''">
                and p.test_type = #{testType}
            </if>
            <if test="cabinetSn != null and cabinetSn != ''">
                and p.cabinet_sn  like concat('%', #{cabinetSn},'%')
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_product_new(no, model_id, batch_id, status, expiration_start_time, years, expiration_end_time, create_time, update_time, del_flag, cache, serial_num, supplier_id, type, code, test_start_time, test_end_time, test_msg,device_name,product_key,is_use,cabinet_sn)
        values (#{no}, #{modelId}, #{batchId}, #{status}, #{expirationStartTime},#{years},#{expirationEndTime}, #{createTime}, #{updateTime}, #{delFlag}, #{cache},#{serialNum}, #{supplierId}, #{type}, #{code}, #{testStartTime}, #{testEndTime}, #{testMsg},#{deviceName},#{productKey},#{isUse},#{cabinetSn})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_product_new
        <set>
            <if test="no != null">
                no = #{no},
            </if>
            <if test="modelId != null">
                model_id = #{modelId},
            </if>
            <if test="batchId != null">
                batch_id = #{batchId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="expirationStartTime != null">
                expiration_start_time = #{expirationStartTime},
            </if>
            <if test="years != null">
                years = #{years},
            </if>
            <if test="expirationEndTime != null">
                expiration_end_time = #{expirationEndTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
            <!--            <if test="iotCardId != null">-->
            <!--                iot_card_id = #{iotCardId},-->
            <!--            </if>-->
            <!--            <if test="cameraId != null">-->
            <!--                camera_id = #{cameraId},-->
            <!--            </if>-->
            <!--            <if test="surface != null">-->
            <!--                surface = #{surface},-->
            <!--            </if>-->
            <!--            <if test="color != null">-->
            <!--                color = #{color},-->
            <!--            </if>-->
            <if test="appVersion != null and appVersion != ''">
                app_version = #{appVersion},
            </if>
            <if test="sysVersion != null and sysVersion != ''">
                sys_version = #{sysVersion},
            </if>
            <if test="testStartTime != null" >
                test_start_time = #{testStartTime},
            </if>
            <if test="testEndTime != null">
                test_end_time = #{testEndTime},
            </if>
            <if test="testMsg != null and testMsg != ''">
                test_msg = #{testMsg},
            </if>
        </set>
        where id = #{id}
    </update>


    <!--通过主键修改数据-->
    <update id="updateByConditions">
        update t_product_new
        <set>
            <if test="no != null">
                no = #{no},
            </if>
            <if test="modelId != null">
                model_id = #{modelId},
            </if>
            <if test="batchId != null">
                batch_id = #{batchId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="expirationStartTime != null">
                expiration_start_time = #{expirationStartTime},
            </if>
            <if test="years != null">
                years = #{years},
            </if>
            <if test="expirationEndTime != null">
                expiration_end_time = #{expirationEndTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
<!--            <if test="iotCardId != null">-->
<!--                iot_card_id = #{iotCardId},-->
<!--            </if>-->
<!--            <if test="cameraId != null">-->
<!--                camera_id = #{cameraId},-->
<!--            </if>-->
<!--            <if test="surface != null">-->
<!--                surface = #{surface},-->
<!--            </if>-->
<!--            <if test="color != null">-->
<!--                color = #{color},-->
<!--            </if>-->
            <if test="appVersion != null and appVersion != ''">
                app_version = #{appVersion},
            </if>
            <if test="sysVersion != null and sysVersion != ''">
                sys_version = #{sysVersion},
            </if>
            <if test="testStartTime != null" >
                test_start_time = #{testStartTime},
            </if>
            <if test="testEndTime != null">
                test_end_time = #{testEndTime},
            </if>
            <if test="testMsg != null and testMsg != ''">
                test_msg = #{testMsg},
            </if>
            <if test="testResult != null ">
                test_result = #{testResult},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateStatusFromBatch">
        update t_product_new
        set  status = #{status}
        where id in
        <foreach collection="ids" item="c" separator="," open="(" close=")">
            #{c}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update t_product_new set  del_flag = 1 where id = #{id}
    </delete>

    <select id="cabinetCompressionList" resultType="com.xiliulou.afterserver.web.vo.CabinetCompressionVo">
        select no as sn, test_result as test_status, test_start_time, test_end_time, test_msg ,error_message
        from t_product_new
        <where>
            <if test="sn != null and sn != ''">
                and no like concat('%',#{sn},'%')
            </if>
            <if test="testStartTimeBeginTime != null">
                and test_start_time > #{testStartTimeBeginTime}
            </if>
            <if test="testStartTimeEndTime != null">
                and test_start_time <![CDATA[ < ]]> #{testStartTimeEndTime}
            </if>
            <if test="testEndTimeBeginTime != null">
                and test_end_time <![CDATA[ > ]]> #{testEndTimeBeginTime}
            </if>
            <if test="testEndTimeEndTime != null">
                and test_end_time <![CDATA[ < ]]> #{testEndTimeEndTime}
            </if>
        </where>
        <if test="sortType == 1 or sortType == null">
            order by test_start_time desc
        </if>
        <if test="sortType == 2">
            order by test_end_time desc
        </if>
    </select>

    <select id="queryProductTestInfo" resultType="com.xiliulou.afterserver.web.vo.CabinetCompressionContentVo">
        select tpn.no as sn, tpn.test_result as test_status, tpn.test_start_time, tpn.test_end_time, tpn.test_msg, ptc.content, ptc.test_content_result
        from t_product_new tpn
        left join t_product_new_test_content ptc on tpn.id = ptc.pid
        where tpn.id = #{pid}
    </select>
    <select id="queryDeviceMessage" resultType="com.xiliulou.afterserver.web.vo.DeviceMessageVo">
        select t.id as product_id, t.product_key,t.device_name,t.is_use, pr.box_number
        from t_product_new t left join product pr on t.model_id = pr.id  where t.del_flag = 0 and t.no = #{no}
    </select>
    <select id="updateUsedStatusByNo" resultType="java.lang.Integer">
        update t_product_new set is_use=0,update_time= #{updateTime} where no = #{no} and del_flag = 0
    </select>
</mapper>
