<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.ProductMapper">

    <select id="getByDateQuery" resultType="java.lang.Integer">
        SELECT count(1) FROM `work_order` where 1 = 1

        <if test="years != null"  >
            and years = #{years}
        </if>
        <if test="mouth != null" >
            and mouths = #{mouths}
        </if>
    </select>

    <select id="getMouth" resultType="java.lang.Integer">
        SELECT sum(box_number) FROM `product` where 1 = 1

        <if test="years != null"  >
            and years = #{years}
        </if>
        <if test="mouth != null" >
            and mouths = #{mouths}
        </if>
    </select>

    <select id="getGeneral" resultType="java.lang.Integer">
        //总工单
        SELECT count(id) FROM `work_order` where 1 = 1

        <if test="years != null"  >
            and years = #{years}
        </if>
        <if test="mouth != null" >
            and mouths = #{mouths}
        </if>
        <if test="city != null">
            and city = #{city}
        </if>

    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        //总支出
        SELECT sum(point_id) FROM `work_order` where 1 = 1

        <if test="years != null"  >
            and years = #{years}
        </if>
        <if test="mouth != null" >
            and mouths = #{mouths}
        </if>
        <if test="city != null">
            and city = #{city}
        </if>
    </select>
    <select id="getRepairCount" resultType="java.lang.Integer">

    </select>

    <select id="queryProductModelPull" resultType="com.xiliulou.afterserver.web.vo.productModelPullVo">
        select id, `name` from `product` where `name` like concat('%', #{name}, '%')
    </select>

</mapper>