<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiliulou.afterserver.mapper.SupplierMapper">
    <select id="serverSearch" resultType="com.xiliulou.afterserver.web.vo.PageSearchVo">
        select id, name from server
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
        </where>
        limit #{offset}, #{size}
    </select>
</mapper>