<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.SettleAccountsMapper">

    <select id="settleAccountsPage" resultType="com.xiliulou.afterserver.web.vo.SettleAccountsVo">
        SELECT sa.id,
        sa.customer_id,
        sa.total_amount,
        sa.pay_rate,
        sa.pay_amount,
        sa.un_pay_amount,
        sa.bill_amount,
        sa.un_bill_amount,
        sa.remark,
        sa.pay_time,
        sa.create_time,
        sa.point_id,
        p.name as point_name
        FROM settle_accounts AS sa
        LEFT JOIN point AS p ON p.id = sa.point_id
        <where>
            <if test="query.pointId != null">
                and sa.point_id = #{query.pointId}
            </if>
            <if test="query.payTimeStart != null and query.payTimeEnd != null">
                and sa.pay_time BETWEEN #{query.payTimeStart} and #{query.payTimeEnd}
            </if>
        </where>


        ORDER BY sa.create_time DESC
    </select>

</mapper>