<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.SettleAccountsMapper">

    <resultMap id="pageMap" type="com.xiliulou.afterserver.web.vo.SettleAccountsVo">
        <id property="id" column="p_id"/>
        <id property="customerId" column="customer_id"/>
        <id property="payRate" column="pat_rate"/>
        <id property="unPayAmount" column="un_pay_amount"/>
        <id property="billAmount" column="bill_amount"/>

        <id property="unBillAmount" column="un_bill_amount"/>
        <id property="remark" column="remark"/>
        <id property="payTime" column="pay_time"/>
        <id property="createTime" column="create_time"/>
        <id property="customerName" column="customer_name"/>


        <collection property="pointBindSettleAccountsList"
                    ofType="com.xiliulou.afterserver.web.vo.PointBindSettleAccountsVo">
            <id property="id" column="pbsa_id"/>
            <id property="pointId" column="pbsa_point_id"/>

            <id property="pointName" column="point_name"/>
            <id property="deviceAmount" column="device_Amount"/>
            <id property="serverAmount" column="server_amount"/>
        </collection>

    </resultMap>


    <select id="settleAccountsPage" resultMap="pageMap">
        SELECT sa.id,
        sa.customer_id,
        sa.total_amount,
        sa.pay_rate,
        sa.pay_amount,
        sa.un_pay_amount,
        sa.bill_amount,
        sa.un_bill_amount,
        sa.remark,
        sa.pay_time,
        sa.create_time,

        p.name as point_name,
        c.name as customer_name,
        pbsa.id as pbsa_id,
        pbsa.point_id as pbsa_point_id,
        pbsa.device_amount as device_amount,
        pbsa.server_amount as server_amount
        FROM settle_accounts AS sa
        LEFT JOIN point_bind_settle_accounts as pbsa on pbsa.settle_accounts_id =sa.id
        LEFT JOIN point AS p ON p.id = pbsa.point_id
        LEFT JOIN customer c on c.id = sa.customer_id

        <where>
            <if test="query.pointId != null">
                and pbsa.point_id = #{query.pointId}
            </if>
            <if test="query.payTimeStart != null and query.payTimeEnd != null">
                and sa.pay_time BETWEEN #{query.payTimeStart} and #{query.payTimeEnd}
            </if>
        </where>


        ORDER BY sa.create_time DESC
    </select>

</mapper>