<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.WorkOrderMapper">

    <resultMap id="pageMap" type="com.xiliulou.afterserver.web.vo.WorkOrderVo">
        <id property="id" column="wo_id"/>
        <id property="type" column="wo_type"/>
        <id property="pointId" column="wo_point_id"/>
        <id property="info" column="wo_info"/>
        <id property="fee" column="wo_fee"/>
        <id property="companyType" column="wo_company_type"/>
        <id property="companyId" column="wo_company_id"/>
        <id property="thirdPartyPay" column="wo_third_party_pay"/>
        <id property="workOrderReasonId" column="wo_work_order_reason_id"/>
        <id property="processor" column="wo_processor"/>
        <id property="createrId" column="wo_creater_id"/>
        <id property="processTime" column="wo_process_time"/>
        <id property="status" column="wo_status"/>
        <id property="orderNo" column="wo_order_no"/>
        <id property="createTime" column="wo_create_time"/>
        <id property="workOrderType" column="wot_remark"/>
        <id property="workOrderReasonName" column="wor_name"/>
        <id property="creater" column="u_user_name"/>

    </resultMap>

    <select id="getPage" resultMap="pageMap">
        SELECT wo.id as wo_id,
        wo.type as wo_type,
        wo.point_id as wo_point_id,
        wo.info as wo_info,
        wo.fee as wo_fee,
        wo.company_type as wo_company_type,
        wo.company_id as wo_company_id,
        wo.third_party_pay as wo_third_party_pay,
        wo.work_order_reason_id as wo_work_order_reason_id,
        wo.processor as wo_processor,
        wo.creater_id as wo_creater_id,
        wo.process_time as wo_process,
        wo.status as wo_status,
        wo.order_no as wo_order_no,
        wo.create_time as wo_create_time,
        wo.creater_id as wo_creater_id,
        wot.remark as wot_remark,
        wor.name as wor_name,
        u.user_name as u_user_name
        FROM work_order as wo
        LEFT JOIN work_order_type as wot on wot.type = wo.type
        LEFT JOIN work_order_reason as wor on wor.id = wo.work_order_reason_id
        LEFT JOIN user u on u.id =wo.creater_id
        <where>
            <if test="query.pointId != null">
                and wo.point_id = #{query.pointId}
            </if>
            <if test="query.type != null">
                and wo.type = #{query.type}
            </if>
            <if test="query.status != null">
                and wo.starus = #{query.status}
            </if>
            <if test="query.orderNo != null">
                and wo.order_no = #{query.orderNo}
            </if>
            <if test="query.createTimeStart != null and query.createTimeEnd != null">
                and wo.create_time BETWEEN #{query.createTimeStart} and #{query.createTimeEnd}
            </if>
        </where>
        ORDER BY wo.create_time DESC
    </select>
    <select id="orderList" resultMap="pageMap">
        SELECT wo.id as wo_id,
        wo.type as wo_type,
        wo.point_id as wo_point_id,
        wo.info as wo_info,
        wo.fee as wo_fee,
        wo.company_type as wo_company_type,
        wo.company_id as wo_company_id,
        wo.third_party_pay as wo_third_party_pay,
        wo.work_order_reason_id as wo_work_order_reason_id,
        wo.processor as wo_processor,
        wo.creater_id as wo_creater_id,
        wo.process_time as wo_process,
        wo.status as wo_status,
        wo.order_no as wo_order_no,
        wo.create_time as wo_create_time,
        wo.creater_id as wo_creater_id,
        wot.remark as wot_remark,
        wor.name as wor_name,
        u.user_name as u_user_name

        FROM work_order as wo
        LEFT JOIN work_order_type as wot on wot.type = wo.type
        LEFT JOIN work_order_reason as wor on wor.id = wo.work_order_reason_id
        LEFT JOIN user u on u.id =wo.creater_id
        <where>
            <if test="query.pointId != null">
                and wo.point_id = #{query.pointId}
            </if>
            <if test="query.type != null">
                and wo.type = #{query.type}
            </if>
            <if test="query.status != null">
                and wo.starus = #{query.status}
            </if>
            <if test="query.orderNo != null">
                and wo.order_no = #{query.orderNo}
            </if>
            <if test="query.createTimeStart != null and query.createTimeEnd != null">
                and wo.create_time BETWEEN #{query.createTimeStart} and #{query.createTimeEnd}
            </if>
        </where>
        ORDER BY wo.create_time DESC
    </select>

</mapper>

