<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.afterserver.mapper.WorkOrderMapper">

    <resultMap id="pageMap" type="com.xiliulou.afterserver.web.vo.WorkOrderVo">
        <id property="id" column="wo_id"/>
        <id property="type" column="wo_type"/>
        <id property="pointId" column="wo_point_id"/>
        <id property="info" column="wo_info"/>
        <id property="fee" column="wo_fee"/>
        <id property="thirdCompanyType" column="wo_third_company_type"/>
        <id property="thirdCompanyId" column="wo_third_company_id"/>
        <id property="thirdCompanyPay" column="wo_third_company_pay"/>
        <id property="thirdReason" column="wo_third_reason"/>
        <id property="workOrderReasonId" column="wo_work_order_reason_id"/>
        <id property="processor" column="wo_processor"/>
        <id property="createrId" column="wo_creater_id"/>
        <id property="processTime" column="wo_process_time"/>
        <id property="status" column="wo_status"/>
        <id property="orderNo" column="wo_order_no"/>
        <id property="createTime" column="wo_create_time"/>
        <id property="workOrderType" column="wot_type"/>
        <id property="thirdCompanyName" column="wo_third_company_name"/>
        <id property="serverName" column="wo_server_name"/>
        <id property="transferSourcePointId" column="wo_transfer_source_point_id"/>
        <id property="transferSourcePointName" column="wo_transfer_source_point_name"/>
        <id property="transferDestinationPointId" column="wo_transfer_destination_point_id"/>
        <id property="transferDestinationPointName" column="wo_transfer_destination_point_name"/>
        <id property="product" column="wo_product"/>
        <id property="code" column="wo_code"/>
        <id property="serverId" column="wo_server_id"/>
        <id property="reason" column="wo_reason"/>
        <id property="workOrderReasonName" column="wor_name"/>
        <id property="creater" column="u_user_name"/>
        <id property="pointName" column="p_name"/>
        <collection property="fileList" ofType="com.xiliulou.afterserver.entity.File">
            <id property="id" column="f_id"/>
            <id property="type" column="f_type"/>
            <id property="fileName" column="f_file_name"/>
            <id property="bindId" column="f_bind_id"/>
        </collection>
    </resultMap>

    <select id="getPage" resultMap="pageMap">
        SELECT wo.id as wo_id,
        wo.type as wo_type,
        wo.point_id as wo_point_id,
        wo.info as wo_info,
        wo.fee as wo_fee,
        wo.third_company_type as wo_third_company_type,
        wo.third_company_id as wo_third_company_id,
        wo.third_company_pay as wo_third_company_pay,
        wo.third_reason as wo_third_reason,
        wo.work_order_reason_id as wo_work_order_reason_id,
        wo.processor as wo_processor,
        wo.creater_id as wo_creater_id,
        wo.process_time as wo_process_time,
        wo.status as wo_status,
        wo.order_no as wo_order_no,
        wo.create_time as wo_create_time,
        wo.server_id as wo_server_id,
        wo.third_company_name as wo_third_company_name,
        wo.server_name as wo_server_name,
        wo.transfer_source_point_id as wo_transfer_source_point_id,
        wo.transfer_destination_point_id as wo_transfer_destination_point_id,
        wo.product as wo_product,
        wo.code as wo_code,
        wo.reason as wo_reason,
        (SELECT name FROM point WHERE id = wo_transfer_source_point_id) as wo_transfer_source_point_name,
        (SELECT name FROM point WHERE id = wo_transfer_destination_point_id) as wo_transfer_destination_point_name,
        wot.type as wot_type,
        wor.name as wor_name,
        u.user_name as u_user_name,
        p.name as p_name,
        f.id as f_id,
        f.type as f_type,
        f.file_name as f_file_name,
        f.bind_id as f_bind_id
        FROM work_order as wo
        LEFT JOIN work_order_type as wot on wot.id = wo.id
        LEFT JOIN work_order_reason as wor on wor.id = wo.work_order_reason_id
        LEFT JOIN user u on u.id =wo.creater_id
        LEFT JOIN point as p on p.id = wo.point_id
        LEFT JOIN file as f on f.bind_id = wo.id and f.type =2
        <where>
            <if test="query.pointId != null">
                and wo.point_id = #{query.pointId}
            </if>
            <if test="query.type != null">
                and wo.type = #{query.type}
            </if>
            <if test="query.status != null">
                and wo.status = #{query.status}
            </if>
            <if test="query.orderNo != null">
                and wo.order_no = #{query.orderNo}
            </if>
            <if test="query.thirdCompanyId != null">
                and wo.third_company_id = #{query.thirdCompanyId}
            </if>
            <if test="query.thirdCompanyType != null">
                and wo.third_company_type = #{query.thirdCompanyType}
            </if>
            <if test="query.createTimeStart != null and query.createTimeEnd != null">
                and wo.create_time BETWEEN #{query.createTimeStart} and #{query.createTimeEnd}
            </if>
        </where>
        ORDER BY wo.create_time DESC
    </select>
    <select id="orderList" resultMap="pageMap">
        SELECT wo.id as wo_id,
        wo.type as wo_type,
        wo.point_id as wo_point_id,
        wo.info as wo_info,
        wo.fee as wo_fee,
        wo.third_company_id as wo_third_company_id,
        wo.third_company_type as wo_third_company_type,
        wo.third_company_pay as wo_third_company_pay,
        wo.third_reason as wo_third_reason,
        wo.work_order_reason_id as wo_work_order_reason_id,
        wo.processor as wo_processor,
        wo.creater_id as wo_creater_id,
        wo.process_time as wo_process_time,
        wo.status as wo_status,
        wo.order_no as wo_order_no,
        wo.create_time as wo_create_time,
        wo.server_id as wo_server_id,
        wo.third_company_name as wo_third_company_name,
        wo.server_name as wo_server_name,
        wo.transfer_source_point_id as wo_transfer_source_point_id,
        wo.transfer_destination_point_id as wo_transfer_destination_point_id,
        wo.product as wo_product,
        wo.code as wo_code,
        (SELECT name FROM point WHERE id = wo_transfer_source_point_id) as wo_transfer_source_point_name,
        (SELECT name FROM point WHERE id = wo_transfer_destination_point_id) as wo_transfer_destination_point_name,
        wot.type as wot_type,
        wor.name as wor_name,
        u.user_name as u_user_name,
        p.name as p_name

        FROM work_order as wo
        LEFT JOIN work_order_type as wot on wot.id = wo.id
        LEFT JOIN work_order_reason as wor on wor.id = wo.work_order_reason_id
        LEFT JOIN user u on u.id =wo.creater_id
        LEFT JOIN point as p on p.id = wo.point_id
        <where>
            <if test="query.pointId != null">
                and wo.point_id = #{query.pointId}
            </if>
            <if test="query.type != null">
                and wo.type = #{query.type}
            </if>
            <if test="query.status != null">
                and wo.status = #{query.status}
            </if>
            <if test="query.orderNo != null">
                and wo.order_no = #{query.orderNo}
            </if>
            <if test="query.thirdCompanyId != null">
                and wo.third_company_id = #{query.thirdCompanyId}
            </if>
            <if test="query.thirdCompanyType != null">
                and wo.third_company_type = #{query.thirdCompanyType}
            </if>
            <if test="query.createTimeStart != null and query.createTimeEnd != null">
                and wo.create_time BETWEEN #{query.createTimeStart} and #{query.createTimeEnd}
            </if>
        </where>
        ORDER BY wo.create_time DESC
    </select>

    <select id="qualityCount" resultType="com.xiliulou.afterserver.web.vo.AfterCountVo">
        SELECT
            count( work_order_reason_id ) AS count,
            work_order_reason_id as reasonId
        FROM
            work_order
        WHERE
            work_order_reason_id IS NOT NULL

        <if test="datestamp != null">
            and create_time &gt;= #{datestamp}
        </if>

        GROUP BY
            work_order_reason_id

            LIMIT 20

    </select>

    <select id="qualityCountList" resultType="com.xiliulou.afterserver.web.vo.AfterCountListVo">
        SELECT
            FROM_UNIXTIME( create_time / 1000, '%Y-%m-%d' ) AS date,
            count( work_order_reason_id ) AS count,
            work_order_reason_id as reasonId
        FROM
            work_order
        WHERE
            work_order_reason_id IS NOT NULL
        <if test="datestamp != null">
            and create_time &gt;= #{datestamp}
        </if>
        GROUP BY
           date,work_order_reason_id
        ORDER BY date DESC

    </select>

    <select id="afterWorkOrderByCity" resultType="com.xiliulou.afterserver.web.vo.AfterOrderVo">
        SELECT
            sum( o.fee ) as sumCount ,b.city, count(1) as numCount
        FROM
            work_order o
            LEFT JOIN point b ON o.point_id = b.id
        WHERE
            o.type = 5
        <if test="datestamp != null">
            and o.create_time &gt;= #{datestamp}
        </if>
        <if test="cityId != null">
            and b.city = #{cityId}
        </if>
        GROUP BY
            b.city
        ORDER BY
            sumCount desc
            limit 20
    </select>
    <select id="afterWorkOrderByPoint" resultType="com.xiliulou.afterserver.web.vo.AfterOrderVo">
        SELECT
        sum( o.fee ) as sumCount ,b.name as pointName, count(1) as numCount
        FROM
        work_order o
        LEFT JOIN point b ON o.point_id = b.id
        WHERE
        o.type = 5
        <if test="datestamp != null">
            and o.create_time &gt;= #{datestamp}
        </if>
        <if test="cityId != null">
            and b.city = #{cityId}
        </if>
        GROUP BY
        b.id
        ORDER BY
        sumCount desc
        limit 20
    </select>
    <select id="afterWorkOrderList" resultType="com.xiliulou.afterserver.web.vo.AfterOrderVo">

        SELECT
            FROM_UNIXTIME( o.create_time / 1000, '%Y-%m-%d' ) AS date,
            sum( o.fee ) AS sumCount,
            count(1) as numCount,
            b.city
        FROM
            work_order o
            LEFT JOIN point b ON o.point_id = b.id
        WHERE
            o.type = 5
        <if test="datestamp != null">
            and o.create_time &gt;= #{datestamp}
        </if>
        <if test="cityId != null">
            and b.city = #{cityId}
        </if>
        GROUP BY
            date
        ORDER BY
            date DESC
    </select>
    <select id="installWorkOrderByCity" resultType="com.xiliulou.afterserver.web.vo.AfterOrderVo">
        SELECT
            SUM( o.fee ) AS sumCount, p.name as pointName,p.city,count(1) as numCount
        FROM
            work_order o
            LEFT JOIN point p ON o.point_id = p.id
        WHERE
            o.type IN ( 1, 2, 3 )
        <if test="datestamp != null">
            and o.create_time &gt;= #{datestamp}
        </if>
        <if test="cityId != null">
            and p.city = #{cityId}
        </if>
        GROUP BY
            p.city
        ORDER BY
            sumCount DESC
            LIMIT 20
    </select>
    <select id="installWorkOrderByPoint" resultType="com.xiliulou.afterserver.web.vo.AfterOrderVo">
        SELECT
        SUM( o.fee ) AS sumCount,
        p.NAME AS pointName,
        p.city,
        p.id as pointId,
        count( o.type) AS numCount,
        o.type
        FROM
        work_order o
        LEFT JOIN point p ON o.point_id = p.id
        WHERE
        1 = 1
        <if test="datestamp != null">
            and o.create_time &gt;= #{datestamp}
        </if>
        <if test="cityId != null">
            and p.city = #{cityId}
        </if>
        GROUP BY
        o.point_id,o.type
        ORDER BY
        sumCount DESC
        LIMIT 20

    </select>
    <select id="installWorkOrderList" resultType="com.xiliulou.afterserver.web.vo.AfterOrderVo">
        SELECT
            SUM( o.fee ) AS sumCount,
            p.NAME AS pointName,
            p.city,
            count( 1 ) AS numCount,
            FROM_UNIXTIME( o.create_time / 1000, '%Y-%m-%d' ) AS date
        FROM
            work_order o
            LEFT JOIN point p ON o.point_id = p.id
        WHERE
            o.type IN ( 1, 2, 3 )
        <if test="datestamp != null">
            and o.create_time &gt;= #{datestamp}
        </if>
        <if test="cityId != null">
            and p.city = #{cityId}
        </if>
        GROUP BY
            date
        ORDER BY
            date DESC
            LIMIT 20
    </select>


</mapper>

